
@{
    ViewData["Title"] = "Index";
    Layout = null;
    List<Product> products = (List<Product>)ViewData["products"];
    var count = 0;
    var uname = "SA50 Solutions";
    var aboutcontroller = "List";
    var logincontroller = "Login";
    var about = "About";
    var aboutview = "About";
    var login = "Login";
    var loginView = "Index";
    if (ViewData["count"] != null)
    {
        count = (int)ViewData["count"];
    }
    if(ViewData["username"] != null)
    {
        uname = Convert.ToString(ViewData["username"]);
        uname = "Hello, " + uname;
        aboutcontroller = "MyPurchases";
        logincontroller = "List";
        about = "My Purchases";
        aboutview = "Index";
        login = "Logout";
        loginView = "Logout";
    }

}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,800">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <title>SA50 Solutions</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - CA_.NETCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/MyPurchases.css" />
    <link rel="stylesheet" href="~/css/List/list.css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        function AddToCart(item) {
            var productId = $(item).attr("id");
            $.post("@Url.Action("AddToCart", "List")",
                {
                    productId: productId
                }, function (data) {
                    var count = data;
                    $("#cart").html(count);
                });
        }
        $(document).ready(function () {
            $("#neverused").click(function () {
                if (count == 0) {
                    alert("Please add atleast one item to cart.");
                }
            });
        });
    </script>
</head>
<body>
    <div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <h1>@uname</span></h1>
                <div class="searchbox">
                    <form id="searchbox" asp-action="Index" asp-controller="List" method="post">
                        <input type="text" placeholder="Search.." name="SearchString">
                    </form>
                </div>
            </div>

            <ul class="navigation">
                <a asp-area="" asp-controller="List" asp-action="Index"><li><button>Home</button></li></a>
                <a asp-area="" asp-controller=@aboutcontroller asp-action=@aboutview><li><button>@about</button></li></a>
                <a asp-area="" asp-controller=@logincontroller asp-action=@loginView><li><button>@login</button></li></a>
                <a asp-area="" asp-controller="Login" asp-action="Index"><li><button>Contact Us</button></li></a>
                @if (count == 0)
                {
                    <a asp-area="" asp-controller="List" asp-action="Index">
                        <li>
                            <button id="neverused">
                                <span class="nav-icon">
                                    <i class="fas fa-cart-plus"></i>
                                </span>
                            </button>
                        </li>
                    </a>
                }
                else
                {
                    <a asp-area="" asp-controller="ViewCart" asp-action="Index">
                        <li>
                            <button>
                                <span class="nav-icon">
                                    <i class="fas fa-cart-plus"></i>
                                </span>
                            </button>
                        </li>
                    </a>
                }
                <!--<div class="cart-items"><a></a></div>-->
                <div id="cart" class="cart-items">@count</div>
            </ul>
        </div>
    </div>
        <section class="products">

            @foreach (Product product in products)
            {
            <div class="product-card">
                <div class="product-card-in">
                    <img class="product-image" src="~/images/softwares/@product.ImageURL" />
                    <div class="product-name">@product.ProductName</div>
                    <div class="product-price">$@product.ProductPrice</div>
                    <div class="product-description">@product.ProductDescription</div>
                    <!-- <button class="product-add-to-cart">Add to Cart</button> -->
                    <button onclick="AddToCart(this)" id="@product.ProductId" class="addtocartbtn" style="vertical-align:middle"><span>Add to Cart</span></button>
                </div>
            </div>
            }
        </section>
    </body>
</html>



